/* demo.css 2011-03-10 */
/* Style sheet for software demonstrations. A demonstration shows the procedure to perform a task. */
/* Visual, audiovisual, and audio demos have consistent typography and layout. */

/* Lowercase classes or file names are usually generated or referenced by the conversion process. */
/* Mixed case classes or file names are usually selected or created by demo designers and developers. */

/* To prevent software demonstration styles from affecting navigation and branding styles for Web sites, */
/* the scope of the style rules for content elements is div#main instead of body. */

@import url(demo_reset.css); /* Reset default values of Web browsers and specific values for Web sites. */

/* For information about organizing style sheets by typography, layout, and color, */
/* see http://www.alistapart.com/articles/progressiveenhancementwithcss */

/* COLOR ==================================================================== */

@import url(demo_color.css); /* The color palette might vary for different demo projects. */

/* TYPOGRAPHY =============================================================== */
/* Demos use only one font. The base size is the learner's default size. */
/* Comments with nominal values in pixels (px) assume medium text size and 100% zoom magnification. */

div#main
{
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 100%; /* 16px */
}

div#main div.demo-caption /* The first slide usually has a caption for the image. */
{
font-size: 75%; /* 12px */
font-style: italic;
}

div#main div.demo-navigation,
div#main p /* All text, even in list items, is in ordinary p elements without classes. */
{
line-height: 1.25; /* 20 px for all except 15px = 1.25 * 75% * 16px for captions. */
}

/* Navigation area */

div#main div.demo-navigation a /* Hyperlink to the next slide or index page. */
{
text-decoration: none;
font-weight: bold;
}

div#main div.demo-navigation span.demo-words /* Label when learners click where a callout points in the image area. */
{
font-style: italic;
}

/* Lists are for the explanation area only. */

div#main ul /* List Bullet */
{
list-style-type: disc;
padding-left: 1.5em; /* 24px */
}

div#main ol /* List Number */
{
list-style-type: decimal;
padding-left: 2em; /* 32px, wide enough for a single decimal digit. */
}

/* Character styles are for the explanation area, caption area, action callouts, and information boxes. */

div#main em /* Use the em element instead of the span.Emphasis class. */
{
font-style: italic;
}

div#main div.demo-caption em
{
font-style: normal;
}

div#main strong, /* Use the strong element instead of the span.Strong class. */
div#main span.Keyboard,
div#main span.UserInterface
{
font-weight: bold;
}

/* In demo pages for the SIL Web site, its style sheet precedes this style sheet and */
/* the body element must have an id="www-sil-org" attribute. */
/* For more information about CSS signatures, see: */
/* • pages 25, 208-209 in The Zen of CSS Design. */
/* • http://archivist.incutio.com/viewlist/css-discuss/13291 */
/* The typography of software demonstrations differs from other pages on the SIL Web site as follows. */

body#www-sil-org div#main #footer
{
font-size: 75%; /* 12px */
}

body#www-sil-org div#main #footer .bottommenu
{
font-weight: normal; /* Overrides bold. */
}

body#www-sil-org div#main #footer .copyright
{
font-size: 100%; /* 12px, 100% of 75%, overrides smaller. */
}

/* LAYOUT =================================================================== */
/* A Web browser displays each slide as a Web page. A demo slide consists of: */
/* 1. Navigation area at the upper right. Produced by the conversion process. */
/* 2. Explanation area at the upper edge. Optional, but rarely omitted. */
/* 3. Caption area between the explanation and image area. Usually on the first slide. */
/* 4. Image area consists of zero or more images, but usually there is one. */

/* For more information, see "Visual design" in Designing Flexible Demos for Busy Learners. */

/* Without a maximum width, learners might not notice the navigation area */
/* if the screen resolution is large and the browser window is maximized. */
/* However, the maximum and minimum do not affect Internet Explorer 6 and earlier. */
div#main
{
max-width: 48em; /* 768px nominal, wide enough for the expected width of the explanation area. */
min-width: 768px; /* In pixels for the expected width of screen shots. */
}

/* In demo pages for the SIL Web site, its style sheet precedes this style sheet and */
/* the body element must have an id="www-sil-org" attribute. */
/* The layout of software demonstrations differs from other pages on the SIL Web site as follows. */

body#www-sil-org div#main
{
margin-left: 144px; /* The exact width of SIL logo, overrides the extra 30 pixels of white space. */
margin-right: 0; /* No margin at the right. */
width: auto; /* Overrides a fixed value, let the preceding maximum and minimum determine the width. */
}

body#www-sil-org div#main #footer
{
padding-top: 2em; /* 24px, let white space separate footer from content, instead of a horizontal rule or border. */
}

body#www-sil-org div#main #footer,
body#www-sil-org div#main .copyright
{
text-align: right;
}

body#www-sil-org div#main #footer form /* SiteSearch Google */
{
margin-top: 1em; /* 12px, separation from hyperlinks. */
margin-bottom: 1em; /* 12px, separation from copyright. */
}

/* Navigation area ---------------------------------------------------------- */
/* The navigation area overlaps the explanation area. Its paragraph has the same layout. */
/* Full transparency in 8-bit PNG files works even in Internet Explorer 6 and earlier. */
/* If you modify the navigation image files, do not save them as 24-bit or 32-bit PNG. */
/* For information about the "sliding doors" method for rounded corners using background images, */
/* see pages 111-115 of Bulletproof Web Design, First Edition. */
/* For information about an image in multiple background positions */
/* instead of multiple background images, see pages 78-79 in CSS Mastery. */

div#main div.demo-navigation
{
float: right;
margin-left: 0.5em; /* 8px, separation from the first line in the explanation area. */
padding-left: 0.25em;
}

div#main div.demo-click-hyperlink
{
background-image: url(demo_navigation_click_hyperlink.png); /* see demo_CSS3.css */
background-position: left bottom;
background-repeat: no-repeat;
}

/* The padding makes the navigation hyperlink look like a button */
/* when the backgound-color changes in the dynamic states (that is, active, focus, and hover). */
/* Assume that a space separates the slide numbers from the hyperlink or span. */
div#main div.demo-navigation a,
div#main div.demo-navigation span.demo-words
{
padding-left: 0.25em; /* 4px */
padding-right: 0.25em;
}

/* Explanation area --------------------------------------------------------- */
/* If there is no text, do one of the following: */
/* 1. Recommended: Include the div with a p element containing a nonbreaking space */
/*    to display an empty explanation area one line high. */
/* 2. Option: Omit the div to let the image bleed to the upper edge of the slide, */
/*    but the navigation area might overlap the image at the upper right. */

div#main div.demo-explanation
{
padding-left: 0.5em; /* 8px */
padding-right: 0.5em;
padding-bottom: 0.5em;
}

div#main div.demo-navigation, /* Align navigation with first line of explanation. */
div#main div.demo-explanation p
{
padding-top: 0.5em; /* 8px */
}

/* Audiovisual and audio demos */
/* The paragraph contains only an object followed by a non-breaking space. */
/* The explanation area appears empty, except for: */
/* • If neither Flash Player nor QuickTime are installed, a message and hyperlink to more information. */
/* • QuickTime controller. */

/* The outer two objects are for Flash Player. */
div#main div.demo-explanation object
{
width: 0;
height: 0;
}

/* The inner two objects are for QuickTime Player. */
/* Display the volume button, play button, and progress bar on the QuickTime controller. */
/* In demo pages, <param name="kioskmode" value="true" /> means omit the pop-up menu button. */
/* For information about how the width of the controller determines which buttons appear, */
/* see pages 300-301 of HTML, XHTML, and CSS, Sixth Edition. */
div#main div.demo-explanation object object object
{
width: 89px; /* 105 - 16 to reduce by the width of the pop-up menu button.  */
height: 16px; /* Height of controller. */
}

/* Caption area ------------------------------------------------------------- */
/* The optional caption area follows the explanation area and precedes the image area. */
/* The first slide of each demo represents the main point in a visually interesting way. */
/* The caption indicates whether the image represents a concept, process, or result. */

div#main div.demo-caption
{
padding-left: 0.66em; /* 8px, 0.66em at 75% font-size is equal to 0.5em at 100% font-size. */
padding-right: 0.66em;
padding-top: 0.33em; /* 4px, 0.33em at 75% font-size is equal to 0.25em at 100% font-size. */
}

div#main div.demo-caption p
{
padding-bottom: 0.66em; /* 8px */
}

/* Image area --------------------------------------------------------------- */
/* Usually one per slide containing one main image. If necessary, you can: */
/* • Include multiple images per div (adjacent horizontally). */
/* • Include multiple divs per slide (adjacent vertically). */

/* Relative position of div.demo-image makes the position of callouts and boxes */
/* relative to the image, not the body element. There is a style attribute: */
/* • containing the sum of the widths of images if there is a callout from the left. */
/* • containing the maximum height of images. */
/*   If there is a callout from the upper right, the height is required for Internet Explorer 6 and earlier. */
/*   Unlike XHTML Transitional, XHTML Strict requires the browser to display */
/*   the pixels below the baseline for descenders, even though the div contains images only. */
/*   Specifying the height of the div and hiding the overflow eliminates the gap */
/*   that would separate adjacent divs in a slide. */

div#main div.demo-image
{
position: relative;
overflow: hidden;
}

/* An action callout has a pointer at the corner adjacent to an image map area. */
/* The div has two classes: demo-action followed by a space and one of four directions. */
/* The most common is class="demo-action demo-from-lower-right". */
/* The div has a style attribute that specifies the coordinates of a corner. */

div#main div.demo-action
{
position: absolute;
background-image: url(demo_action_alpha_transparency.png) !important;
background-image: url(demo_action_full_transparency.png);
background-repeat: no-repeat;
}
/* Alpha transparency in 32-bit PNG files works in Internet Explorer 7 and later. */
/* For more information, see page 59 in CSS Mastery. */
/* Full transparency in 8-bit PNG files works even in Internet Explorer 6 and earlier. */
/* If you modify the demo_action_full_transparency.png file, do not save it as 24-bit or 32-bit PNG. */

/* Borders for the two edges opposite the pointer, assuming that actions consist of only one paragraph. */
div#main div.demo-action p
{
border-width: 1px;
}

/* For information about an image in multiple background positions */
/* instead of multiple background images, see pages 78-79 in CSS Mastery. */
/* The padding is the width and height of the pointers in the action image files. */

div#main div.demo-from-upper-left /* Has attribute style="right:XXXpx;bottom:YYYpx;" */
{
padding-right: 7px;
padding-bottom: 7px;
background-position: right bottom;
}

div#main div.demo-from-upper-left p
{
border-left-style: solid;
border-top-style: solid;
}

div#main div.demo-from-lower-left /* Has attribute style="right:XXXpx;top:YYYpx;" */
{
padding-right: 7px;
padding-top: 7px;
background-position: right top;
}

div#main div.demo-from-lower-left p
{
border-left-style: solid;
border-bottom-style: solid;
}

div#main div.demo-from-upper-right /* Has attribute style="left:XXXpx;bottom:YYYpx;" */
{
padding-left: 7px;
padding-bottom: 7px;
background-position: left bottom;
}

div#main div.demo-from-upper-right p
{
border-right-style: solid;
border-top-style: solid;
}

div#main div.demo-from-lower-right /* Has attribute style="left:XXXpx;top:YYYpx;" */
{
padding-left: 7px;
padding-top: 7px;
background-position: left top;
}

div#main div.demo-from-lower-right p
{
border-right-style: solid;
border-bottom-style: solid;
}

/* An information box aligns with a particular part of the image. */
div#main div.demo-information /* Has attribute style="left:XXXpx;top:YYYpx;" */
{
position: absolute;
}

/* Action and information paragraphs have the same layout inside the div. */
div#main div.demo-action p,
div#main div.demo-information p
{
padding-top: 0.25em; /* 4px */
padding-bottom: 0.25em;
padding-left: 0.5em; /* 8px */
padding-right: 0.5em;
}