/* demo_reset.css 2009-02-05 */
/* Style sheet for software demonstrations. A demonstration shows the procedure to perform a task. */
/* Reset default values of Web browsers and specific values for Web sites. */
/* Other software demonstration style sheets import this style sheet. */

/* For more information, see pages 13 and 29 of CSS Mastery: Advanced Web Standards Solutions. */
/* However, instead of the universal selector, adapt from the pattern in http://meyerweb.com/eric/tools/css/reset/ */

/* To prevent software demonstration styles from affecting navigation and branding styles for Web sites, */
/* the scope of the style rules for content elements is div#main instead of body. */

html,
body,
div#main,
div#main div,
div#main span,
div#main object,
div#main h1,
div#main h2,
div#main h3,
div#main h4,
div#main p,
div#main a,
div#main cite,
div#main em,
div#main img,
div#main strong,
div#main ol,
div#main ul,
div#main li,
div#main table,
div#main tr,
div#main th,
div#main td
{
font-size: 100%; /* Typography */
margin: 0; /* Layout */
outline: 0;
border: 0;
padding: 0;
vertical-align: baseline;
}
