/* demo_auxiliary.css 2011-03-10 */
/* Style sheet for software demonstrations. A demonstration shows the procedure to perform a task. */
/* Typography and layout for auxiliary pages (for example, index.html) is similar to the Help.css style sheet. */

/* Lowercase classes or file names are usually generated or referenced by the conversion process. */
/* Mixed case classes or file names are usually selected or created by demo designers and developers. */

/* To prevent software demonstration styles from affecting navigation and branding styles for Web sites, */
/* the scope of the style rules for content elements is div#main instead of body. */

@import url(demo_reset.css); /* Reset default values of Web browsers and specific values for Web sites. */

/* For information about organizing style sheets by typography, layout, and color, */
/* see http://www.alistapart.com/articles/progressiveenhancementwithcss */

/* COLOR ==================================================================== */

@import url(demo_color.css); /* The color palette might vary for different demo projects. */

/* TYPOGRAPHY =============================================================== */
/* Demos use only one font. The base size is 75% for auxiliary pages, unlike 100% for demo pages. */
/* Comments with nominal values in pixels (px) assume medium text size and 100% zoom magnification. */

div#main
{
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 75%; /* 12px */
}

/* All text is in heading or paragraph elements. */
/* In particular, li, td, and th elements always contain at least one p element. */

/* Headings: the value in em of margin-bottom depends on font-size. */

div#main h1, /* Heading 1 */
div#main h2 /* Heading 2 */
{
font-size: 150%; /* 18px */
/* No margin-top because it is the first element in the main div. */
margin-bottom: 0.4em; /* 7px = 0.4 * 150% * 12px */
}

div#main h3 /* Heading 3 */
{
font-size: 115%; /* 14px */
margin-top: 0.87em; /* 12px = 0.87 * 115% * 12px */
margin-bottom: 0.52em; /* 7px = 0.52 * 115% * 12px */
}

div#main h4 /* Heading 4 */
{
font-size: 100%; /* 12px */
margin-top: 1em; /* 12px = 1 * 100% * 12px */
margin-bottom: 0.6em; /* 7px = 0.6 * 100% * 12px */
}

/* Lists: for information about indentation, see https://developer.mozilla.org/en/Consistent_List_Indentation */

div#main ul /* List Bullet and List Bullet 2 */
{
list-style: disc;
padding-left: 1.5em; /* 18 px */
}

div#main ol /* List Number */
{
list-style: decimal;
padding-left: 2em; /* 24 px, wide enough for a single decimal digit. */
}

/* Paragraphs */

div#main p
{
line-height: 1.34; /* 16px */
margin-bottom: 0.6em; /* 7px */
}

div#main p.SpaceSingle
{
line-height: 1; /* 12px */
margin-bottom: 0;
}

div#main p.SpaceHalf
{
line-height: 0.5; /* 6px */
margin-bottom: 0;
}

/* Paragraphs in table cells */
/* The default 2 pixel cellspacing separates the cells on all four sides. */
div#main th p, /* Table Heading Row */
div#main td p /* Table Row */
{
margin-top: 0.25em; /* 3px */
margin-bottom: 0.25em;
}

/* Character styles */

div#main cite,
div#main span.BookTitle, /* We recommend that you use the cite element instead. */
div#main span.DefinedWord,
div#main em,
div#main span.Emphasis, /* We recommend that you use the em element instead. */
div#main span.Placeholder,
div#main span.Style
{
font-style: italic;
}

div#main span.Keyboard,
div#main strong,
div#main span.Strong, /* We recommend that you use the strong element instead. */
div#main span.TypedText,
div#main span.UserInterface
{
font-weight: bold;
}

/* Hyperlinks are underlined in auxiliary pages. */
div#main a
{
text-decoration: underline;
}

/* In demo pages for the SIL Web site, its style sheet precedes this style sheet and */
/* the body element must have an id="www-sil-org" attribute. */
/* For more information about CSS signatures, see: */
/* • pages 25, 208-209 in The Zen of CSS Design. */
/* • http://archivist.incutio.com/viewlist/css-discuss/13291 */
/* The typography of software demonstrations differs from other pages on the SIL Web site as follows. */

body#www-sil-org div#main #footer .bottommenu
{
font-weight: normal; /* Overrides bold. */
}

body#www-sil-org div#main #footer .copyright
{
font-size: 100%; /* 100% of 75% overrides smaller. */
}

/* LAYOUT =================================================================== */

/* Without a maximum width, learners might not be able to read long lines */
/* if the screen resolution is large and the browser window is maximized. */
/* However, the maximum does not affect Internet Explorer 6 and earlier. */

div#main
{
max-width: 62.66em; /* 752px + 2 * 8 nominal, 62.66em + 2 * 0.66 at 75% corresponds to 48em at 100%. */
border-top-style: solid; /* The upper edge has the same color as the explanation area of demo pages. */
border-top-width: 0.66em; /* 8 px */
padding-top: 0.33em; /* 4 px */
padding-left: 0.66em;
padding-right: 0.66em;
padding-bottom: 0.33em;
}

/* In demo pages for the SIL Web site, its style sheet precedes this style sheet and */
/* the body element must have an id="www-sil-org" attribute. */
/* The layout of software demonstrations differs from other pages on the SIL Web site as follows. */

body#www-sil-org div#main
{
margin-left: 144px; /* 174 - 30 is the exact width of SIL logo, without the extra 30 pixels of white space. */
margin-right: 0; /* No margin at the right. */
width: auto; /* Overrides a fixed value, let the preceding maximum determine the width. */
}

body#www-sil-org div#main #footer
{
padding-top: 2em; /* 24px, let white space separate footer from content, instead of a horizontal rule or border. */
margin-right: -0.66em; /* -8px, negative margin-right corresponds to padding-right of the main div. */
}

body#www-sil-org div#main #footer,
body#www-sil-org div#main .copyright
{
text-align: right;
}

body#www-sil-org div#main #footer form /* SiteSearch Google */
{
margin-top: 1em; /* 12px, separation from hyperlinks. */
margin-bottom: 1em; /* 12px, separation from copyright. */
}

/* Images aligned at the right: margins are proportional to the font-size of the paragraph or heading. */

div#main img.right /* p and h4 have the default font-size of the main div */
{
float: right;
clear: right; /* If there are multiple images in an element, they lay out vertically instead of horizontally. */
margin-left: 0.66em; /* 8px = 0.66 * 12px, separation from text at the left. */
margin-right: -0.66em; /* negative margin-right corresponds to padding-right of body. */
}

div#main h2 img.right
{
margin-left: 0.44em; /* 8px = 0.44 * 150% * 12px */
margin-right: -0.44em;
}

div#main h3 img.right
{
margin-left: 0.57em; /* 8px = 0.57 * 115% * 12px */
margin-right: -0.57em;
}

/* Tables */

div#main table
{
border-style: none;
}

div#main th, /* Table Heading Row */
div#main td /* Table Row */
{
/* No padding-left: align the left edge of the table with the preceding and following paragraphs. */
padding-right: 0.5em; /* 6px, it is the sum of the top and bottom margins for paragraphs in tables. */
text-align: left;
vertical-align: baseline; /* Align cells containing text with cells containing images. */
}

/* Tables of hyperlinks in the index page ----------------------------------- */

/* If the links are in two tables, display them side by side as columns. */
div#main.demo-index table
{
float: left;
margin-top: 0.5em; /* 6px */
margin-right: 2em; /* 24px */
}

/* If the links are in two tables, make the width of the first column consistent. */
div#main.demo-index table tr td:first-child
{
width: 2em; /* 24 px, wide enough for two-letter codes. */
}

/* In the index page, hyperlinks to audiovisual or audio demos might consist of images instead of text. */
/* • The audiovisual_demo.png or audio_demo.png image lets an optional background image show through */
/*   in the dynamic link states (for example, hover, when the learner points to the image. */
/* • The foreground and background images both let the background color show through. */
/*   The background color might depend on whether the link is visited and might change in dynamic states. */

div#main.demo-index table a img
{
margin-left: 0.25em; /* 3px, separation in addition to the space that precedes an image hyperlink. */
}

div#main.demo-index table a:active img,
div#main.demo-index table a:focus img,
div#main.demo-index table a:hover img
{
background-image: url(dynamic_audio.png);
background-position: right bottom;
background-repeat: no-repeat;
}
/* Full transparency in 8-bit PNG files works even in Internet Explorer 6 and earlier. */
/* If you modify the dynamic_audio.png file, do not save it as 24-bit or 32-bit PNG. */

/* Outlines appear in Internet Explorer 8 and later. */
div#main.demo-index table a:focus img,
div#main.demo-index table a:hover img
{
outline-style: solid;
outline-width: 1px;
}